# Cleanup and modify sensordata

### Imports hinzufÃ¼gen

In [25]:
import os

import pandas as pd

### Sensordaten aus .csv Dateien einlesen & in Pandas Dataframes umwandeln

In [26]:
path = 'PATH TO DATA HERE'
dataframes = {}
for file in os.listdir(path):
    dataframe_name = str(file).split('.')[0]
    dataframes[dataframe_name] = pd.read_csv(path + '/' + str(file))

### Dataframes haben die gleichen Namen wie die originalen Dateien

In [27]:
dataframes.get('Sensor_Bottom_Center')

                ðŸŒ¡ 7 Tage ðŸŒ¡ 7 Tage.1
0    2023-07-29 16:00:56      26 Â°C
1    2023-07-29 16:40:56      26 Â°C
2    2023-07-29 21:00:56      19 Â°C
3    2023-07-30 00:20:56      18 Â°C
4    2023-07-30 04:10:55      17 Â°C
..                   ...        ...
638  2023-08-05 15:00:41      19 Â°C
639  2023-08-05 15:10:40      19 Â°C
640  2023-08-05 15:20:40      19 Â°C
641  2023-08-05 15:30:40      20 Â°C
642  2023-08-05 15:40:40      19 Â°C

[643 rows x 2 columns]

### Header Zeile ersetzen und Â°C Angabe entfernen

In [28]:
for key, value in dataframes.items():
    value.columns = ['Zeitstempel', 'Wert']
    value['Wert'] = value['Wert'].str.split(' ').str[0]

In [29]:
dataframes.get('Sensor_Bottom_Center')

             Zeitstempel Wert
0    2023-07-29 16:00:56   26
1    2023-07-29 16:40:56   26
2    2023-07-29 21:00:56   19
3    2023-07-30 00:20:56   18
4    2023-07-30 04:10:55   17
..                   ...  ...
638  2023-08-05 15:00:41   19
639  2023-08-05 15:10:40   19
640  2023-08-05 15:20:40   19
641  2023-08-05 15:30:40   20
642  2023-08-05 15:40:40   19

[643 rows x 2 columns]

### UnvollstÃ¤ndige Tage aus den DatensÃ¤tzen entfernen (hier 29.07.23 & 05.08.23)

In [30]:
for key, value in dataframes.items():
    value.drop(value[value['Zeitstempel'].str.contains('2023-07-29')].index, inplace=True)
    value.drop(value[value['Zeitstempel'].str.contains('2023-08-05')].index, inplace=True)

In [31]:
dataframes.get('Sensor_Bottom_Center')

             Zeitstempel Wert
3    2023-07-30 00:20:56   18
4    2023-07-30 04:10:55   17
5    2023-07-30 04:50:54   17
6    2023-07-30 06:50:54   16
7    2023-07-30 07:20:54   16
..                   ...  ...
543  2023-08-04 23:10:42   16
544  2023-08-04 23:20:42   17
545  2023-08-04 23:30:41   17
546  2023-08-04 23:40:42   16
547  2023-08-04 23:50:42   16

[545 rows x 2 columns]

### Zeitstempel auf die Uhrzeit reduzieren (z.B. 00:20:56 -> 00:00:00) & "Duplikate" entfernen

In [32]:
for key, value in dataframes.items():
    value['Zeitstempel'] = value['Zeitstempel'].str.split(':').str[0] + ":00:00"
    value = value.drop_duplicates(subset='Zeitstempel', keep='first', inplace=True)

In [33]:
dataframes.get('Sensor_Bottom_Center')

             Zeitstempel Wert
3    2023-07-30 00:00:00   18
4    2023-07-30 04:00:00   17
6    2023-07-30 06:00:00   16
7    2023-07-30 07:00:00   16
8    2023-07-30 08:00:00   16
..                   ...  ...
518  2023-08-04 19:00:00   22
524  2023-08-04 20:00:00   21
530  2023-08-04 21:00:00   18
536  2023-08-04 22:00:00   16
542  2023-08-04 23:00:00   16

[107 rows x 2 columns]